@charset "UTF-8";
/* Reset CSS */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Título */
.title {
  display: block;
  text-align: left;
  font-size: 1.4em;
  font-weight: bolder;
  padding-top: 0%;
  padding-left: 10%;
  color: black;
}

/* Header */
.header {
  padding-top: 10px;
  padding-bottom: 0%;
}
.header .logo img {
  display: block;
  width: 45%;
  height: auto;
}
.header .logo a {
  display: block;
  width: 650px;
  height: auto;
}

/* Body */
/*Parámetros media query*/
body {
  /* Parámetros del body */
  background-color: #f4f1bb;
  font-family: "Fredoka One", cursive;
  font-family: "Oswald", sans-serif;
  color: black;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body * {
    color: darkred;
    font-size: 0.8em;
    font-weight: bolder;
  }
  body p {
    color: darkred;
  }
  body h2 {
    font-size: 1em;
  }
  body p {
    font-size: 1.1em;
  }
}
body a {
  text-decoration: none;
}
body h2 {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}
body p {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  font-family: "Raleway", sans-serif;
  padding-top: 5%;
}

.body-suscripcion,
.body-servicios {
  display: grid;
}

/* Menú hamburguesa */
.dropdown {
  z-index: 2;
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: #f4f1bb;
  background: #f4f1bb;
}

.main {
  display: inline-block;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

.img-hamburguesa {
  width: 60px;
  height: auto;
}

.btn {
  display: flex;
  box-sizing: border-box;
  margin: 1%;
  padding: 0%;
  text-align: left;
  color: #f4f1bb;
  cursor: hand;
}
.btn:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.btn-secondary {
  background-color: #f4f1bb;
  border: none;
  padding-top: 0.1rem;
  padding-right: 0.6rem;
}
.btn-secondary:focus {
  color: #f4f1bb;
  text-decoration-style: none;
  background-color: #f4f1bb;
  border-color: #f4f1bb;
  box-shadow: 0 0 0 0.25rem #f4f1bb;
}

li {
  background-color: #f4f1bb;
}
li::before {
  content: ">";
  position: absolute;
  left: -1px;
}

/*Propiedades del footer*/
h3 {
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-top: 3em;
  padding-bottom: 0.5%;
  margin-top: 2.5em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  h3 {
    color: darkred;
  }
}
h3:hover {
  transform: scale(1.1);
  color: crimson;
}

.linkedin {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.6em;
  padding-top: 0.2em;
  width: 50px;
  height: auto;
}
.linkedin:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.facebook {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  padding: 0.2em;
  width: 60px;
  height: auto;
}
.facebook:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.parrafo-copy {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 0.1%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .parrafo-copy {
    color: darkred;
  }
}

.footer-redes {
  max-width: 100%;
  display: grid;
  gap: 2px;
  grid-template-areas: "a a" "b c" "d d";
}

.f-head {
  text-align: center;
  justify-self: center;
  grid-area: a;
}

.fb {
  justify-self: center;
  grid-area: b;
}

.ln {
  justify-self: center;
  grid-area: c;
}

.copy-r {
  grid-area: d;
}

/* Formulario de Suscripción */
.contenedor-suscribe {
  display: inline-block;
}

.form-control:focus {
  background-color: goldenrod;
  font-weight: bolder;
}

/* Portfolio y efectos */
.carousel-container {
  width: 40%;
  display: block;
  margin: auto auto;
  justify-content: center;
}
.carousel-container .carousel-control-prev-icon,
.carousel-container .carousel-control-next-icon {
  height: 25px;
  width: 25px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

/* Ajustes Iframe mapa google contacto y efecto */
.mapa-google {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.5s ease-out;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  align-items: center;
}
.mapa-google:hover {
  transform: scale(1.1);
}

/* Body */
/*Parámetros media query*/
body {
  /* Parámetros del body */
  background-color: #f4f1bb;
  font-family: "Fredoka One", cursive;
  font-family: "Oswald", sans-serif;
  color: black;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body * {
    color: darkred;
    font-size: 0.8em;
    font-weight: bolder;
  }
  body p {
    color: darkred;
  }
  body h2 {
    font-size: 1em;
  }
  body p {
    font-size: 1.1em;
  }
}
body a {
  text-decoration: none;
}
body h2 {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}
body p {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  font-family: "Raleway", sans-serif;
  padding-top: 5%;
}

.body-suscripcion,
.body-servicios {
  display: grid;
}

/* Header */
.header {
  padding-top: 10px;
  padding-bottom: 0%;
}
.header .logo img {
  display: block;
  width: 45%;
  height: auto;
}
.header .logo a {
  display: block;
  width: 650px;
  height: auto;
}

/* Menú hamburguesa */
.dropdown {
  z-index: 2;
  display: block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: #f4f1bb;
  background: #f4f1bb;
}

.main {
  display: inline-block;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

.img-hamburguesa {
  width: 60px;
  height: auto;
}

.btn {
  display: flex;
  box-sizing: border-box;
  margin: 1%;
  padding: 0%;
  text-align: left;
  color: #f4f1bb;
  cursor: hand;
}
.btn:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.btn-secondary {
  background-color: #f4f1bb;
  border: none;
  padding-top: 0.1rem;
  padding-right: 0.6rem;
}
.btn-secondary:focus {
  color: #f4f1bb;
  text-decoration-style: none;
  background-color: #f4f1bb;
  border-color: #f4f1bb;
  box-shadow: 0 0 0 0.25rem #f4f1bb;
}

li {
  background-color: #f4f1bb;
}
li::before {
  content: ">";
  position: absolute;
  left: -1px;
}

/*Ajustes del Main*/
.main {
  display: inline-block;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  color: grey;
  overflow: hidden;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .main * {
    color: darkred;
    font-weight: bolder;
  }
  .main p {
    color: darkred;
  }
}

/* Portfolio y efectos */
.carousel-container {
  width: 40%;
  display: block;
  margin: auto auto;
  justify-content: center;
}
.carousel-container .carousel-control-prev-icon,
.carousel-container .carousel-control-next-icon {
  height: 25px;
  width: 25px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

/* Formulario de Suscripción y efecto */
.contenedor-suscribe {
  display: inline-block;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .contenedor-suscribe .input-group-text {
    color: darkred;
    font-size: 2.3em;
    font-weight: bolder;
  }
}
.contenedor-suscribe .form-control:focus,
.contenedor-suscribe .visually-hidden:focus {
  background-color: goldenrod;
  font-weight: bolder;
}

.btn {
  margin-top: 1em;
}
.btn:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

/* Ajustes Iframe mapa google contacto y efecto */
.mapa-google {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.5s ease-out;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  align-items: center;
}
.mapa-google:hover {
  transform: scale(1.1);
}

/*Propiedades del footer*/
h3 {
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-top: 3em;
  padding-bottom: 0.5%;
  margin-top: 2.5em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  h3 {
    color: darkred;
  }
}
h3:hover {
  transform: scale(1.1);
  color: crimson;
}

.linkedin {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.6em;
  padding-top: 0.2em;
  width: 50px;
  height: auto;
}
.linkedin:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.facebook {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  padding: 0.2em;
  width: 60px;
  height: auto;
}
.facebook:hover {
  transition: 2.3s;
  transform: rotate(360deg);
}

.parrafo-copy {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 0.1%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .parrafo-copy {
    color: darkred;
  }
}

.footer-redes {
  max-width: 100%;
  display: grid;
  gap: 2px;
  grid-template-areas: "a a" "b c" "d d";
}

.f-head {
  text-align: center;
  justify-self: center;
  grid-area: a;
}

.fb {
  justify-self: center;
  grid-area: b;
}

.ln {
  justify-self: center;
  grid-area: c;
}

.copy-r {
  grid-area: d;
}

/*# sourceMappingURL=style.css.map */
