/*Propiedades del footer*/


h3 {

	@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
		color: darkred;
	}

	font-size: 1em;
	font-weight: bold;
	color: grey;
	text-align: left;
	padding-top: 3em;
	padding-bottom: 0.5%;
	margin-top: 2.5em;

	&:hover {
		transform: scale(1.1);
		color: crimson;
	}
}

.linkedin {
	display: block;
	margin-left: 0.5em;
	margin-bottom: 0.6em;
	padding-top: 0.2em;

	&:hover {
		transition: 2.3s;
		transform: rotate(360deg);
	}
}

.facebook {
	display: block;
	margin-left: 0.5em;
	margin-bottom: 0.2em;
	padding: 0.2em;

	&:hover {
		transition: 2.3s;
		transform: rotate(360deg);
	}
}

.parrafo-copy {
	@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
		color: darkred;
	}

	font-size: 0.7em;
	font-weight: bold;
	color: grey;
	text-align: center;
	padding-bottom: 0.1%;
}

.footer-redes {
	max-width: 100%;
	display: grid;
	gap: 2px;
	grid-template-areas: 'a a'
		'b c'
		'd d';
}

.f-head {
	text-align: center;
	justify-self: center;
	grid-area: a;
}

.fb {
	justify-self: center;
	grid-area: b;
}

.ln {
	justify-self: center;
	grid-area: c;
}

.copy-r {
	justify-self: center;
	align-items: center;
	grid-area: d;
}