@import '../base/variables';

/* Formulario de Suscripción */

.contenedor-suscribe {
	display: flex;
	align-items: center;
	justify-content: center;
}


.form-control {
	&:focus {
		background-color: $bg-color3;
		font-weight: bolder;
	}
}

.form-control {
	font-size: $font-medium;
}

.input-group-text {
	align-items: center;

}



.btn-primary {
	margin-top: 1em;
}