/* Header */
.header {
	padding-top: 1px;
	padding-bottom: 0%;
	background-color: rgb(245, 226, 142);
	border: 1px solid grey;
	background-image: url(../images/health.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 25%;

	.logo {
		img {
			display: block;
			width: 45%;
			height: auto;
		}

		a {
			display: block;

			width: 650px;
			height: auto;
		}
	}

}