/* Header */
.header {
	padding-top: 20px;
			
	.logo {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header-img {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.logo {
	img {
		width: 50%;
		height: 50%;
	}
}
.title {
	h1 {
		text-align: center;
		padding: 0 20px;
	}
}
.header-img {
	img {
		width: 50%;
		height: 50%;
	}
}

