@import '../base/variables';
/*Ajustes del Main*/

.container {
    box-sizing: border-box;
    width: 80%;
    padding: 8px;
    margin: auto;

    @media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
        * {
            color: $color3;
            font-weight: bolder;
        }
    }
}
