/* Ajustes Iframe mapa google contacto y efecto */

.mapa-google {
	&:hover {
		transform: scale(1.1);
	}

	position: relative;
	transition: all .5s ease-out;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 80%;
	}
}