@import '../base/variables';

/* Ajustes Iframe mapa google contacto y efecto */


.mapa-google {
	&:hover {
		transform: scale(1.1);

		.mapa-google iframe {
			display: column;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			padding-bottom: 10%;
			margin-bottom: 30%;

		}
	}
}