/* Menú hamburguesa */

.dropdown {
    z-index: 2;
    display: block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: #f4f1bb;
    background: #f4f1bb;
}

.main {
    display: inline-block;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}

.img-hamburguesa {
    width: 60px;
    height: auto;

}

.btn {
    display: flex;
    box-sizing: border-box;
    margin: 1%;
    padding: 0%;
    text-align: left;
    color: #f4f1bb;
    cursor: hand;

    &:hover {
        transition: 2.3s;
        transform: rotate(360deg);
    }
}

.btn-secondary {
    background-color: #f4f1bb;
    ;
    border: none;
    padding-top: 0.1rem;
    padding-right: 0.6rem;

    &:focus {
        color: #f4f1bb;
        text-decoration-style: none;
        background-color: #f4f1bb;
        border-color: #f4f1bb;
        box-shadow: 0 0 0 0.25rem #f4f1bb;
    }
}

li {
    background-color: #f4f1bb;

    &::before {
        content: ">";
        position: absolute;
        left: -1px;
    }
}