<<<<<<< HEAD
/* Portfolio */
=======
/* Portfolio y efectos */
>>>>>>> otcsass

.portfolio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-area: 1 / 1 / 2 / 2;
	grid-area: 1 / 2 / 2 / 3;
	grid-area: 2 / 1 / 3 / 2;
	grid-area: 2 / 2 / 3 / 3;
	grid-area: 3 / 1 / 4 / 2;
}
<<<<<<< HEAD
=======

>>>>>>> otcsass
.ceti {
	&:hover {
		border: 1px solid grey;
		transform: scale(1.1);
	}
}
<<<<<<< HEAD
=======

>>>>>>> otcsass
.lope {
	&:hover {
		border: 1px solid grey;
		transform: scale(1.1);
	}
}
<<<<<<< HEAD
=======

>>>>>>> otcsass
.napro {
	&:hover {
		border: 1px solid grey;
		transform: scale(1.1);
	}
}
<<<<<<< HEAD
=======

>>>>>>> otcsass
.para {
	&:hover {
		border: 1px solid grey;
		transform: scale(1.1);
	}
}
.vita {
	&:hover {
		border: 1px solid grey;
		transform: scale(1.1);
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> otcsass
