@import '../base/variables';


/* Título */

.title {
        display: block;
        text-align: left;
        font-size: 1.4em;
        font-weight: bolder;
        padding-top: 0%;
        padding-left: 10%;
        color: black;
    }

