@import '../base/variables';


/* Título */

.title {
    
/* Utilización de Mixin */
.title {

    @include border-titulo(2px ridge $color7);
}

    display: block;
    text-align: left;
    font-size: 1.4em;
    font-weight: bolder;
    padding-top: 0%;
    padding-left: 10%;
    color: $color1;
}

