/* Lista de colores de footer */

$footer-color1: rgb(238, 221, 148);
$footer-color2: rgb(101, 103, 171);
$footer-color3: rgb(167, 65, 144);
$footer-color4: rgb(82, 80, 80);
$footer-color5: rgb(177, 77, 77);
$footer-color6: rgb(0, 128, 90);
$footer-color7: rgb(97, 96, 96);
$footer-color8: rgb(255, 254, 254);
$footer-color9: rgba(0, 0, 0, 0.3);
