/* Variables */

/* Variables de tamaño de fuentes */

$font-xsmall: 0.7em;
$font-small: 0.8em;
$font-medium: 1em;
$font-large: 1.2em;
$font-xlarge: 1.4em;
$font-xxlarge: 1.6em;

/* Variables de colores fuente */
$font-color1: rgb(14, 10, 10);
$font-color2: #0c4720;
$font-color3: #8d0f35;
$font-color4: rgb(6, 11, 82);
$font-color5: rgb(255, 255, 255);


// /* Variables de colores fondos */

$bg-color1: rgb(14, 10, 10);
$bg-color2: rgb(101, 103, 171);
$bg-color3: rgb(167, 65, 144);
$bg-color4: rgb(82, 80, 80);
$bg-color5: rgb(177, 77, 77);
$bg-color6: rgb(0, 128, 90);
$bg-color7: rgb(97, 96, 96);
$bg-color8: rgb(255, 254, 254);
$bg-color9: rgba(0, 0, 0, 0.3);

/* Variables de colores */
$color1: rgb(14, 10, 10);
$color2: #0c4720;
$color3: rgb(141, 15, 53);
$color4: rgb(6, 11, 82);
$color5: rgb(97, 96, 96);
$color6: rgb(255, 255, 255);
$color7: rgb(167, 65, 144);
